{% extends 'base.html' %}

{% block body %}

<div class="button-group">

    <a href="#" class="btn btn-primary btn-md" role="botton">Laptops</a>
    <a href="#" class="btn btn-warning btn-sm" role="botton"> +</a>

    <a href="#" class="btn btn-primary btn-md" role="botton">Desktops</a>
    <a href="#" class="btn btn-warning btn-sm" role="botton"> +</a>

    <a href="#" class="btn btn-primary btn-md" role="botton">Mobiles</a>
    <a href="#" class="btn btn-warning btn-sm" role="botton"> +</a>

</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Model</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        
    </tbody>
</table>

{% endblock %}